In [4]:
#import postgres library
import psycopg2

In [5]:
#establishing the connection
db_connect = psycopg2.connect(database='task4',user='gowtham1',password='postgres',host='127.0.0.1',port='5432')

In [6]:
#setting auto commit
db_connect.autocommit=True

In [7]:
#creating a cursor object using the cursor() medhod 
cursor=db_connect.cursor()

In [8]:
#retrieving data
cursor.execute('''select * from "tbl_Employee"''')

In [9]:
#fetching all the rows from the table and commit the changes and finally close the database connetion.
result_data=cursor.fetchall()
db_connect.commit()
db_connect.close()

In [10]:
result_data

[(198, 'Donald', 'OConnell', 'DOCONNEL', '6,505,079,833'),
 (199, 'Douglas', 'Grant', 'DGRANT', '6,505,079,844'),
 (200, 'Jennifer', 'Whalen', 'JWHALEN', '5,151,234,444'),
 (201, 'Michael', 'Hartstein', 'MHARTSTE', '5,151,235,555'),
 (202, 'Pat', 'Fay', 'PFAY', '6,031,236,666'),
 (203, 'Susan', 'Mavris', 'SMAVRIS', '5,151,237,777'),
 (204, 'Hermann', 'Baer', 'HBAER', '5,151,238,888'),
 (205, 'Shelley', 'Higgins', 'SHIGGINS', '5,151,238,080'),
 (206, 'William', 'Gietz', 'WGIETZ', '5,151,238,181'),
 (100, 'Steven', 'King', 'SKING', '5,151,234,567'),
 (101, 'Neena', 'Kochhar', 'NKOCHHAR', '5,151,234,568'),
 (102, 'Lex', 'De Haan', 'LDEHAAN', '5,151,234,569'),
 (103, 'Alexander', 'Hunold', 'AHUNOLD', '5,904,234,567'),
 (104, 'Bruce', 'Ernst', 'BERNST', '5,904,234,568'),
 (105, 'David', 'Austin', 'DAUSTIN', '5,904,234,569'),
 (106, 'Valli', 'Pataballa', 'VPATABAL', '5,904,234,560'),
 (107, 'Diana', 'Lorentz', 'DLORENTZ', '5,904,235,567'),
 (108, 'Nancy', 'Greenberg', 'NGREENBE', '5,151,244,569'),
 (109, 'Daniel', 'Faviet', 'DFAVIET', '5,151,244,169'),
 (110, 'John', 'Chen', 'JCHEN', '5,151,244,269'),
 (111, 'Ismael', 'Sciarra', 'ISCIARRA', '5,151,244,369'),
 (112, 'Jose Manuel', 'Urman', 'JMURMAN', '5,151,244,469'),
 (113, 'Luis', 'Popp', 'LPOPP', '5,151,244,567'),
 (114, 'Den', 'Raphaely', 'DRAPHEAL', '5,151,274,561'),
 (115, 'Alexander', 'Khoo', 'AKHOO', '5,151,274,562'),
 (116, 'Shelli', 'Baida', 'SBAIDA', '5,151,274,563'),
 (117, 'Sigal', 'Tobias', 'STOBIAS', '5,151,274,564'),
 (118, 'Guy', 'Himuro', 'GHIMURO', '5,151,274,565'),
 (119, 'Karen', 'Colmenares', 'KCOLMENA', '5,151,274,566'),
 (120, 'Matthew', 'Weiss', 'MWEISS', '6,501,231,234'),
 (121, 'Adam', 'Fripp', 'AFRIPP', '6,501,232,234'),
 (122, 'Payam', 'Kaufling', 'PKAUFLIN', '6,501,233,234'),
 (123, 'Shanta', 'Vollman', 'SVOLLMAN', '6,501,234,234'),
 (124, 'Kevin', 'Mourgos', 'KMOURGOS', '6,501,235,234'),
 (125, 'Julia', 'Nayer', 'JNAYER', '6,501,241,214'),
 (126, 'Irene', 'Mikkilineni', 'IMIKKILI', '6,501,241,224'),
 (127, 'James', 'Landry', 'JLANDRY', '6,501,241,334'),
 (128, 'Steven', 'Markle', 'SMARKLE', '6,501,241,434'),
 (129, 'Laura', 'Bissot', 'LBISSOT', '6,501,245,234'),
 (130, 'Mozhe', 'Atkinson', 'MATKINSO', '6,501,246,234'),
 (131, 'James', 'Marlow', 'JAMRLOW', '6,501,247,234'),
 (132, 'TJ', 'Olson', 'TJOLSON', '6,501,248,234'),
 (133, 'Jason', 'Mallin', 'JMALLIN', '6,501,271,934'),
 (134, 'Michael', 'Rogers', 'MROGERS', '6,501,271,834'),
 (135, 'Ki', 'Gee', 'KGEE', '6,501,271,734'),
 (136, 'Hazel', 'Philtanker', 'HPHILTAN', '6,501,271,634'),
 (137, 'Renske', 'Ladwig', 'RLADWIG', '6,501,211,234'),
 (138, 'Stephen', 'Stiles', 'SSTILES', '6,501,212,034'),
 (139, 'John', 'Seo', 'JSEO', '6,501,212,019'),
 (140, 'Joshua', 'Patel', 'JPATEL', '6,501,211,834'),
 (141, 'Shelli', 'Baida', 'SBAIDA', None),
 (142, 'Sigal', 'Tobias', 'STOBIAS', None),
 (143, 'Guy', 'Himuro', 'GHIMURO', None),
 (144, 'Karen', 'Colmenares', 'KCOLMENA', None),
 (145, 'Matthew', 'Weiss', 'MWEISS', None),
 (146, 'Adam', 'Fripp', 'AFRIPP', None),
 (147, 'Payam', 'Kaufling', 'PKAUFLIN', None),
 (148, 'Shanta', 'Vollman', 'SVOLLMAN', None),
 (149, 'Kevin', 'Mourgos', 'KMOURGOS', None),
 (150, 'Julia', 'Nayer', 'JNAYER', None),
 (151, 'Irene', 'Mikkilineni', 'IMIKKILI', None),
 (152, 'James', 'Landry', 'JLANDRY', None),
 (153, 'Steven', 'Markle', 'SMARKLE', None),
 (154, 'Laura', 'Bissot', 'LBISSOT', None),
 (155, 'Mozhe', 'Atkinson', 'MATKINSO', None),
 (156, 'James', 'Marlow', 'JAMRLOW', None),
 (157, 'TJ', 'Olson', 'TJOLSON', None),
 (158, 'Jason', 'Mallin', 'JMALLIN', None),
 (159, 'Jennifer', 'Whalen', 'JWHALEN', None),
 (160, 'Michael', 'Hartstein', 'MHARTSTE', None),
 (161, 'Pat', 'Fay', 'PFAY', None),
 (162, 'Susan', 'Mavris', 'SMAVRIS', None),
 (163, 'Hermann', 'Baer', 'HBAER', None),
 (164, 'Shelley', 'Higgins', 'SHIGGINS', None),
 (165, 'William', 'Gietz', 'WGIETZ', None),
 (166, 'Steven', 'King', 'SKING', None),
 (167, 'Neena', 'Kochhar', 'NKOCHHAR', None),
 (168, 'Lex', 'De Haan', 'LDEHAAN', None),
 (169, 'Alexander', 'Hunold', 'AHUNOLD', None),
 (170, 'Bruce', 'Ernst', 'BERNST', None),
 (171, 'David', 'Austin', 'DAUSTIN', None),
 (172, 'Valli', 'Pataballa', 'VPATABAL', None),
 (173, 'Steven', 'Markle', 'SMARKLE', None),
 (174, 'Laura', 'Bissot', 'LBISSOT', None),
 (175, 'Mozhe', 'Atkinson', 'MATKINSO', None),
 (176, 'James', 'Marlow', 'JAMRLOW', None),
 (177, 'TJ', 'Olson', 'TJOLSON', None),
 (178, 'Jason', 'Mallin', 'JMALLIN', None),
 (179, 'Michael', 'Rogers', 'MROGERS', None),
 (180, 'Ki', 'Gee', 'KGEE', None),
 (181, 'Hazel', 'Philtanker', 'HPHILTAN', None),
 (182, 'Renske', 'Ladwig', 'RLADWIG', None),
 (183, 'Stephen', 'Stiles', 'SSTILES', None)]